
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:with="http://www.thymeleaf.org/extras/with"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	layout:decorate="~{admin-layout}" with:title="'Hello, template'">
<th:block layout:fragment="content">
	<div class="container " style="margin-top: 52px">
		<p>
			<span><a th:href="@{/admin/}"> Trang chủ </a><i
				class="fas fa-angle-right"></i></span> <span><a
				th:href="@{/admin/users/}"> Người dùng </a><i
				class="fas fa-angle-right"></i></span> <span><a> Thông tin chi tiết
					 </a></span>
		</p>
		<div class="row" style="margin-bottom: 20px">
			<h5>Người dùng chưa cập nhật thông tin!</h5>
		</div>
	</div>
</th:block>
</html>