<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:with="http://www.thymeleaf.org/extras/with"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	layout:decorate="~{user-layout}">
<title>Trang chủ</title>
<th:block layout:fragment="content">
	
	
	<div class="container" style="margin-top: 50px">
		<div class="container">
			<h5>HÀNG MỚI VỀ</h5>
			<div class="row">				
				<div id="carousel-example" class="carousel slide hidden-xs"
					data-ride="carousel">
					<!-- Wrapper for slides -->
					<div class="carousel-inner">

						<div class="item active">
                    <div class="row">
                        <div class="col-sm-3" th:each="newBook : ${newBooks}">
                            <div class="col-item">
                                <div class="info">
                                    <div class="row">
                                        <div class="price col-md-12">
                                            <h6 th:text="${newBook.name}"></h6>
                                            <h5 class="price-text-color">$<span th:text="${newBook.price}"></span></h5>
                                        </div>
                                      
                                    </div>
                                </div>

                                <div class="photo">
                                    <img style="width: 241px;height: 200px" th:src="@{${newBook.imagePath}}" class="img-responsive" alt="a" />
                                </div>
                                <div class="info">
                                    <div class="separator clear-left">
                                        <p class="btn-add">
                                            <i class="fa fa-shopping-cart"></i><a th:href="@{'/cart/add?bookId=' + ${newBook.id} + '&quantity=1'}" class="hidden-sm">Thêm vào giỏ</a>
                                        </p>
                                        <p class="btn-details">
                                            <i class="fa fa-list"></i><a th:href="@{/books/} + ${newBook.id}" class="hidden-sm">Chi tiết</a>
                                        </p>
                                    </div>
                                    <div class="clearfix">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="container" style="margin-top: 50px">
		<div class="container">
			<h5>HÀNG BÁN CHẠY</h5>
			<div class="row">				
				<div id="carousel-example" class="carousel slide hidden-xs"
					data-ride="carousel">
					<!-- Wrapper for slides -->
					<div class="carousel-inner">

						<div class="item active">
                    <div class="row">
                        <div class="col-sm-3" th:each="hotBook : ${hotBooks}">
                            <div class="col-item">
                                <div class="info">
                                    <div class="row">
                                        <div class="price col-md-12">
                                            <h6 th:text="${hotBook.name}"></h6>
                                            <h5 class="price-text-color">$<span th:text="${hotBook.price}"></span></h5>
                                        </div>
                                      
                                    </div>
                                </div>

                                <div class="photo">
                                    <img style="width: 241px;height: 200px" th:src="@{${hotBook.imagePath}}" class="img-responsive" alt="a" />
                                </div>
                                <div class="info">
                                    <div class="separator clear-left">
                                        <p class="btn-add">
                                            <i class="fa fa-shopping-cart"></i><a th:href="@{'/cart/add?bookId=' + ${hotBook.id} + '&quantity=1'}" class="hidden-sm">Thêm vào giỏ</a>
                                        </p>
                                        <p class="btn-details">
                                            <i class="fa fa-list"></i><a th:href="@{/books/} + ${hotBook.id}" class="hidden-sm">Chi tiết</a>
                                        </p>
                                    </div>
                                    <div class="clearfix">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div style="margin-bottom: 100px"></div>
</th:block>
</html>