<head xmlns:th="http://www.thymeleaf.org">
  <meta charset="UTF-8"/>
  <title th:text="${title}">Hello, template</title>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <head>
  	  <link rel="stylesheet" th:href="@{/common/css/bootstrap.min.css}"/>
      <link rel="stylesheet" th:href="@{/common/css/font-awesome.min.css}"/>
      <link rel="stylesheet" th:href="@{/common/css/jquery-ui.min.cs}"/>
      <link rel="stylesheet" th:href="@{/admin/index.css}"/> 
      <script src="https://kit.fontawesome.com/f4adaf5822.js" crossorigin="anonymous"></script>
  </head>
</head>